
  
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-field {
    flex-grow: 1;
    margin-right: 10px; 
  }
  
  .delete-button-container {
    width: 24px; 
  }
  