.required{
    right: 13%;
}

.submit-button ,.add-button {
    background-color: rgb(76, 131, 202); 
    color: white;
    border: none;
    border-radius: 4px !important;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: rgb(63, 111, 175); 
    }
}
